@import "../base/px2rem";
@import "../base/font";

.wui_dialog{
  width:100%;
  height:100%;
  background: rgba(0,0,0,.4);
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:101;
  //display:none;
}
.wui_dialog_body{
  //animated
  //display:none;
  -webkit-transform:translateZ(0);
  -webkit-animation-duration:0.5s;
  animation-duration:0.5s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-backface-visibility: hidden;
}

//中心弹出样式
.bounce_center{
  //overflow-x:hidden;
  //overflow-y:scroll;
  width:px2rem(450);
  max-height:px2rem(620);
  margin:0 auto;
  background:#FFF;
  position:absolute;
  top:55%;
  left:50%;
  margin:px2rem(-300) 0 0 px2rem(-225);
  //z-index:102;
  border-radius:px2rem(16);
}
//隐藏竖直滚动条
.bounce_center::-webkit-scrollbar{
  width:0;
  height:0;
}
.wui_dialog_title_center{
  box-sizing:border-box;
  width:100%;
  height:px2rem(90);
  overflow:hidden;
  text-align: center;
  line-height:px2rem(90);
  border-top-left-radius: px2rem(16);
  border-top-right-radius: px2rem(16);
  @include px2px(34);
  background:#F2F2F2;
}
.wui_dialog_content{
  width:100%;
  position:relative;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  -webkit-box-orient: vertical;
}
//隐藏竖直滚动条
.wui_dialog_content::-webkit-scrollbar{
  width:0;
  height:0;
}

//提示信息结构
.wui_dialog_content_p{
  padding:px2rem(90) px2rem(60);
  text-align: center;
  @include px2px(34);
  color:#333;
  line-height:1.2;
}
//今日告罄结构
.wui_dialog_content .wui_cells{
  max-height:px2rem(410);
  overflow-y:scroll;
}
.wui_dialog_content .ct_text{
  margin:0;
}


.wui_dialog_footer{
  width:100%;
  height:px2rem(80);
  @include px2px(34);
  line-height:px2rem(80);
  overflow: hidden;
  border-bottom-left-radius:px2rem(16) ;
  border-bottom-right-radius:px2rem(16);
  text-align: center;
}
.wui_dialog_button_left{
  width:50%;
  float:left;
  background:#000;
  color:#CCC;
}
.wui_dialog_button_right{
  width:50%;
  float:left;
}
.wui_dialog_button_center,.wui_dialog_button_right{
  background:#FFF000;
  color:#666;
  font-weight:600;
}
.wui_dialog_button_left,.wui_dialog_button_center,.wui_dialog_button_right{
  height:100%;
}






//中心弹出效果样式
@-webkit-keyframes bounce_center_in{
  0%{
    opacity:0;
    -webkit-transform:scale(0);
    transform:scale(0)
  }
  100%{
    opacity:1;
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
.bounce_center_in{
  -webkit-animation-name:bounce_center_in;
  animation-name:bounce_center_in
}
//中心关闭效果样式
@-webkit-keyframes bounce_center_out{
  0%{
    opacity:1;
    -webkit-transform:scale(1);
    transform:scale(1)
  }
  100%{
    opacity:0;
    -webkit-transform:scale(0);
    transform:scale(0)
  }
}
.bounce_center_out{
  -webkit-animation-name:bounce_center_out;
  animation-name:bounce_center_out
}






































