@import "../base/px2rem";
@import "../base/font";

.wui_sheet{
  width:100%;
  height:100%;
  background: rgba(0,0,0,.4);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:99;
  display:none;
  overflow: auto;
}

.wui_sheet .select_contents{
  position: relative;
  width: 100%;
  max-height: px2rem(650);
  overflow-y: scroll;
  background: #f2f2f2;
}


.wui_sheet_body{
  //animated
  //display:none;
  -webkit-transform:translateZ(0);
  -webkit-animation-duration:0.5s;
  animation-duration:0.5s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-backface-visibility: hidden;
}
//底部弹出效果样式
@-webkit-keyframes bounce_bottom_in {
  0% {
    //opacity: 0;
    -webkit-transform: translateY(px2rem(650));
    transform: translateY(px2rem(650));
  }
  100% {
    //opacity:1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.bounce_bottom_in {
  -webkit-animation-name: bounce_bottom_in;
  animation-name: bounce_bottom_in;
}
//底部关闭效果样式
@-webkit-keyframes bounce_bottom_out {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(px2rem(650));
    transform: translateY(px2rem(650));
  }
}
.bounce_bottom_out {
  -webkit-animation-name: bounce_bottom_out;
  animation-name: bounce_bottom_out;
}

//底部弹出样式
.bounce_bottom{
  overflow:hidden;
  width:100%;
  margin:0 auto;
  background-color:#fff;
  position:fixed;
  bottom:0;
  left:0;
  //z-index:100;
  //border:1px solid #ccc;
}

.wui_sheet_header_con{
  box-sizing:border-box;
  width:100%;
  height:px2rem(70);
  line-height:px2rem(70);
  overflow:hidden;
}

.wui_sheet_title_left{
  float:left;
  @include px2px(28);
  color:#666;
  height:100%;
  margin-left:px2rem(50);
}
.wui_sheet_header_button{
  float:right;
  display:block;
  width:px2rem(140);
  height:100%;
  text-decoration:none;
  text-align: center;
  @include px2px(34);
  font-weight:600;
  color:#666;
  background:#FFF000;
}

.wui_sheet_content{
  width:100%;
  position:relative;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  -webkit-box-orient: vertical;
}
//隐藏竖直滚动条
.wui_sheet_content::-webkit-scrollbar{
  width:0;
  height:0;
}
.wui_sheet .inner_text{
  float:left;
  display:inline-block;
  padding:px2rem(29) 0 px2rem(28);
  margin-left:px2rem(30);
}

//弹出填写地址信息
.bounce_full{
  position:absolute;
  overflow:hidden;
  width:100%;
  height:100%;
  background-color:#fff;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1000;
}

//弹出层底部footer样式
.wui_sheet_footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:px2rem(80);
  background-color:rgb(242,242,242);

  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.wui_sheet_footer_lt,.wui_sheet_footer_ct,.wui_sheet_footer_rt{
  width:33.333333%;
  display: -webkit-box;
  -moz-box:1;
  -ms-box:1;
  -webkit-box:1;
  display: flex;
  flex: 1;
  -webkit-box-flex:1;
}
.wui_sheet_footer_lt{
  -webkit-box-pack: start;
  -moz-justify-content: start;
  -webkit-justify-content: start;
  justify-content: start;
  justify-content: flex-start;
}

.wui_sheet_footer_ct{
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.wui_sheet_footer_rt{
  -webkit-box-pack: end;
  -moz-justify-content: end;
  -webkit-justify-content: end;
  justify-content: end;
  justify-content: flex-end;
}






