@import "../../base/px2rem";
@import "../../helpers/variables";
@import "../../base/font";
.wui_cell{
  border-bottom: 1px solid $border_gray;
}

.wui_container,.wui_content{
  position: absolute;
  width:100%;
  height: 100%;
}

.icon_arrow_right{
  top:px2rem(30);
  right:px2rem(30);
}
.table_content{
  width: 100%;
  text-align: right;
}

.left_text{
  float: left;
}

.member_main_title{
  padding: px2rem(22) px2rem(50);
  text-align: center;
  border-bottom: 1px solid $line_light_gray;
}

.ct_text{
  margin:0;
}
