@import "../../base/px2rem";
@import "../../helpers/variables";
@import "../../base/font";
.fw_500{
  font-weight: 500;
}

.wui_container,.wui_content{
  position: absolute;
  width:100%;
  height: 100%;
  padding-bottom: 0;
}
.tips_list{
  padding:  px2rem(30) px2rem(50) px2rem(30) px2rem(80);
  line-height: 1.2;
  @include px2px(28);
}
.tips_listlist_item{
  padding: px2rem(20) 0;
  position: relative;
}
.tips_list_title{
  position: relative;
  padding:px2rem(24) px2rem(50) 0;
}

.tips_listlist_item:before{
  content: '';
  position: absolute;
  width:px2rem(6);
  height: px2rem(6);
  background-color: #333;
  border-radius: 50%;
  top:px2rem(36);
  left:px2rem(-20);
}
