@import "../../base/px2rem";
@import "../../helpers/variables";
@import "../../base/font";
.profile_container .wui_cell{
  padding: 0;
  border: none;
}

.ct_text{
  color:#999;
  margin:0;
  padding-left: px2rem(20);
}
.profile_container{
  .wui_cell:nth-child(1),
  .wui_cell:nth-child(2),
  .wui_cell:nth-child(3) {
    padding: px2rem(16) 0;
  }
}
.wui_container,.wui_content{
  position: absolute;
  width:100%;
  height: 100%;
}

.profile_container{
  position: relative;
  padding: 0 px2rem(45) px2rem(10);

}
.profile_infos{
  box-sizing: border-box;
  padding: px2rem(30) px2rem(30) px2rem(30);
  background-color: rgb(253,245,233);
}

.profile_background_header{
  width: 100%;
  height:40px;
  position: relative;
}

.background_header_center{
  position: absolute;
  width:100%;
  height: 8px;
  top: 37px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(238,238,238);
}
.background_header_center:before{
  content: '';
  display: block;
  width:100%;
  height: 8px;
  top: 6px;
  width:100%;
  position: absolute;
  background-color:rgb(204,204,204);
  z-index: 2;
}
.profile_view_input {
  outline: none;
  border: none;
  background-color: #fff;
  border-radius:px2rem(10);
  display: flex;
  flex:1;
  width:96%;
  padding: px2rem(10) 0 px2rem(10) px2rem(20);
  @include px2px(34);
}
.profile_text {
  flex:1;
  padding: px2rem(4) 0 px2rem(4) px2rem(20);
  color: #999; //未填
  display: block;
  margin: px2rem(9.6) 0;
}
.sex_select{
  width:100%;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  @include px2px(34);
  color: #999;
}

.ct_input_90{
  height: px2rem(90);
  line-height:px2rem(90);
}

.date_select{
  width: 100%;
  background-color: transparent;
  border: none;
  @include px2px(34);
  color: #999;
}
.wui_tips{
  border:0;
}
.wui_tips .wui_cell_ct{
  text-align:center;
}