
$footer_gray:#ccc;
$order_font_pink:#ff0033;
$line_light_gray:rgba(0,0,0,.2);
$border_gray:rgba(0,0,0,.2);
$item_gray:#f2f2f2;
$order_font_pink:#ff0033;
$order_status_text_inactive:#ccc;
$order_status_text_active: #f2a07c;
$font_pink:#f03;

