
@mixin px2px($px){

  font-size: ($px / 2) * 1px;

  [data-dpr="1"] & {
    font-size: ($px / 2) * 1px;
  }
  [data-dpr="2"] & {
    font-size: ($px / 2) * 1px;
  }

  [data-dpr="3"] & {
    font-size:($px / 2) * 1px;
  }

}

