
/* general */
@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/functions";
@import "../base/px2rem";
@import "../base/font";

*:not(input,textarea){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

/* common */
.hidden{
  display: none !important;
}
.member_main_title{
  padding: px2rem(23) px2rem(50);
  text-align: center;
  border-bottom: 1px solid $line_light_gray;
}
//=======================================
//全局默认字体和颜色
body{
  //font-size: px2rem(34) !important;
  @include px2px(34);
  color: #333;
}
.font_34{
  @include px2px(34);
}
.font_40{
  @include px2px(40);
}
.font_24{
  @include px2px(24);
}
.font_28{
  @include px2px(28);
}
.font_strong{
  font-weight:600;
}
.color_gray{
  color:#f2f2f2;
}
.color_yellow{
  color: #fff000;
}
.color_white{
  color:#FFF;
}
.color_orange{
  color:#f2a07c;
}
.color_red{
  color:#ff0033;
}
.color_999{
  color:#999;
}
.colo_666{
  color:#666;
}
.color_333{
  color:#333;
}
.left{
  float:left;
}
.right{
  float:right;
}
/*价格¥符号的统一定义*/
.money{
  display:inline-block;
}
.money::before{
  content:"\00a5";
  box-sizing: inherit;
}
/*footer中间内容样式*/
.footer_ct_bd {
  //font-size:0;
  -webkit-text-size-adjust:none;
  i{
    float:left;
  }
  span{
    float:left;
    @include px2px(34);
  }
}

/*加减控制类*/
.spinner_count {
  display: inline-block;
  width: px2rem(60);
  height: px2rem(60);
  line-height: px2rem(60);
  text-align: center;
  vertical-align: middle;
  margin-top:px2rem(1);
  @include px2px(34);
}
.spinner{
  @include px2px(0);
}
.spinner_minus,
.spinner_add{
  display:inline-block;
  width:px2rem(60);
  height:px2rem(60);
  vertical-align: middle;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.clear:after{
  display:block;
  content:"";
  height:0;
  clear:both;
  visibility:hidden;
}
.clear{zoom:1;}

.cell_rt_bd .cell_rt_text{
  margin:px2rem(8) px2rem(10) 0 0;
  position: relative;
}


/*wui_container*/
.wui_container{
  position:relative;
  width:100%;
  height:100%;
}

//TrackPoint 电话链接

.service_contact{
  font-size: inherit;
  line-height: 1.5;
}
.contact_number{
  text-decoration: underline;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
/* wui_header */

/* wui_content */
.wui_content{
  overflow-x: hidden;
  overflow-y: scroll;
}
/* wui_footer */

.wui_footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:px2rem(80);
  background-color:rgb(242,242,242);

  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.wui_footer_lt,.wui_footer_ct,.wui_footer_rt{
  width:33.333333%;
  display: -webkit-box;
  -moz-box:1;
  -ms-box:1;
  -webkit-box:1;
  display: flex;
  flex: 1;
  -webkit-box-flex:1;
}
.wui_footer_lt{
  -webkit-box-pack: start;
  -moz-justify-content: start;
  -webkit-justify-content: start;
  justify-content: start;
  justify-content: flex-start;
}

.wui_footer_ct{
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.wui_footer_rt{
  -webkit-box-pack: end;
  -moz-justify-content: end;
  -webkit-justify-content: end;
  justify-content: end;
  justify-content: flex-end;
}















